/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lora", sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #F2B83C;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

@font-face {
    font-family: Libre Baskerville;
    src: url(../fonts/LibreBaskerville-Italic.otf);
}

.bg-primary {
    background-color: #fff;
    color: #22527B;
}

a.legal-button {
    padding: 5px 50px;
    background-color: #337ab7;
    color: #FAD78C;
    font-family: 'Libre Baskerville', sans-serif;
}

#about-firm {
    background: url(../img/Business-Meeting.jpg);
    background-size: contain;
    height: 800px;
    padding: 0;
    padding-top: 200px;
}

#about-firm .desc {
    background: #2A74BB;
    float: right;
    height: 100%;
    color: white;
    width: 100%;
    padding: 50px;
    padding-top: 20px;
}

#about-firm .desc p {
    font-size: 14px;
}

#about-firm .desc a {
    font-size: 16px;
}

#about-us {
    height: 800px;
    background: url(../img/Board.jpg);
    background-size: cover;
    background-position: top center;
}

#about-us a {
    font-size: 25px;
}

#about-us h2 {
    font-size: 50px;
    color: #22527B;
}

#about-us .row {
    padding-top: 50px;
    text-align: center;
}

#about-us .col-md-4:nth-child(2) {
    text-align: right;
    float: right;
    background: rgba(0,0,0,.7);
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

#contact li {
    list-style: none;
    display: inline;
    border-right: 1px solid black;
}

#contact li:last-child {
    border: none;
}

#contact li a {
    padding-right: 5px;
    padding-left: 5px;
}

#contact a:hover {
    color: #000;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

#callus {
    background: #C79937;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 180px;
    z-index: 1000;
    color: #fff;
    font-style: italic;
    padding: 5px 0 5px 10px;
    float: right;
    margin-left: 100%;
    font-size: 12px;
    margin-right: 5px;
}

#nextpagescroll {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 999;
    margin: 0 0 0 -45px;
    text-align: center;
    visibility: hidden;
}

#nextpagescroll a {
    border-radius: 0;
    padding: 5px 10px;
    background: #C79937;
    font-weight: normal;
}

#bottom-boxes {
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.bottom-box {
    width: 100%;
    background: #000;
    color: white;
    color: #C79937;
    margin-bottom: 5px;
}

.bottom-box a {
    color: #F2B83C;
    font-family: 'Libre Baskerville', sans-serif;
}

.bottom-box small {
    font-size: 12px;
    color: white;
}

#header-wrapper {
    padding-top: 80px;
    margin: 0px auto;
}

#header-wrapper .col-md-4 {
    text-align: left;
    padding-top: 0px;
    color: #866C08;
    font-size: 30px;
    font-style: italic;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
    overflow: hidden;
}

#header-wrapper .col-md-6 {
    text-align: center;
    border-right: 2px solid #866C08;
    padding: 10px;
    padding-top: 0;
    overflow: hidden;
}

#header-wrapper .col-md-6 small {
    color: #866C08;
    font-size: 20px;
    width: 100%;
}

#header-wrapper h1{
    margin: 0;
    padding: 0;   
}

.navbar-nav li {
    float: right;
    padding-top: 10px;
}

.navbar-nav {
    padding-right: 20px;
    width: 405px;
}

.navbar-header {
    height: 70px;
}

.navbar-collapse {
    background: rgb(84, 145, 210);
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: "Lora", sans-serif;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    height: 70px;
    margin: 0px auto;
    border: none;
}

.navbar-default.affix {
    background-color: #2A74BB;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: "Lora", sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #F2B83C;
    line-height: .9;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

.navbar-toggle {
    margin-top: 15px;
}

.preview-section-item {
    text-align: center;
}

.preview-section-item h2 {
    font-size: 25px;
    margin-bottom: 0;
}

.preview-section-item small {
    color: #b59759;
    margin-bottom: 30px;
}

.preview-section-item a {
    margin-top: 30px;
    padding: 5px 50px;
    background-color: #337ab7;
    color: #FAD78C;
    font-family: 'Libre Baskerville', sans-serif;
}

.preview-section-item p {
    font-size: 14px;
    line-height: 1.4;
}

@media(min-width:768px) {

    #nextpagescroll {
        visibility: visible;
    }

    #about-firm {
        padding-top: 0px;
        height: 600px;
    }

    #about-firm .desc {
        width: 50%;
    }

    #about-us {
        height: 600px;
    }

    #about-us .row {
        text-align: left;
    }

    #bottom-boxes {
        width: 900px;
        margin: 0px auto;
        height: 100px;
        margin-top: 400px;
    }

    .bottom-box {
        width: 32%;
        height: 100%;
        float: left;
        margin-left: 5px;
        padding: 10px;
        padding-top: 15px;
        background: rgba(0, 0, 0, .5);
    }

    #header-wrapper .col-md-6 {
        text-align: right;
    }

    #header-wrapper .col-md-6 small {
        width: 300px;
        float: right;
    }

    #header-wrapper .col-md-4 {
        text-align: left;
        padding-top: 30px;
        width: 30%;
    }

    .navbar-collapse {
        background: transparent;
    }

    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
        height: 70px;
        width: 80%;
        margin: 0px auto;
        border: none;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #F2B83C;
        border-right: 2px solid #F2B83C;
        font-size: 12px;
        padding: 0px 10px;
        line-height: .9;
    }
/*
    .navbar-default .nav > li>a:before {
        border-left: 3px solid #b5985a;
        height: 12px;
        margin: 8px 15px 0 20px;
        content: "";
        float: left;
    }*/

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #2A74BB;
        width: 100%;
        margin: 0;
        border: none;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #F2B83C;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #fff;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: 800px;
    text-align: center;
    color: #fff;
    background-image: url(../img/header-background.jpg);
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: "Lora", sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: "Lora", sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}
